<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gadais2ちゃんねる</title>
</head>
<body>
  <center>
    <h1>Gadais2ちゃんねる掲示板</h1>
    「<s style="color:gray">ハッキング</s>プログラミング」から「<s style="color:gray">今晩のおかず</s>因数分解」まで手広く扱う<br>できたてほやほや掲示板群
  『<strong>Gadais2ちゃんねる</strong>』へようこそ！<br>よかったらお友達にもおしえてあげてね。<br>
    <br>
    <a href="/bbslist.htm">掲示板一覧</a>
    <hr>
    <h3>ニュース</h3>
    <!-- News -->
  </center>
  
</body>
</html>